<!-- <%- include('../partials/barra-lateral') %> -->
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyFlow</title>
    <link rel="stylesheet" href="../css/pagina-inicial.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <%- include('../partials/barra-lateral') %>
    <main class="dashboard">
      <section class="main-content">
        <div class="header">
          <div>
            <h1>Bem-vindo ao StudyFlow</h1>
            <p>Organize seus estudos e aumente sua produtividade.</p>
          </div>

          <button class="btn-add" id="openModal">+ Adicionar</button>
        </div>
        <div class="activities">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <h2>Próximas Atividades</h2>
          </div>

          <div id="tasksContainer">
          <% atividades.forEach(atividade => { %>

          <div class="task-card
          <%= atividade.prioridade === 'alta'
          ? 'urgent'
          : atividade.prioridade === 'media'
          ? 'medium'
          : 'low' %>"
          data-id="<%= atividade.id %>">

          <h3><%= atividade.nome %></h3>

          <p>
              <%= new Date(atividade.data_vencimento)
              .toLocaleDateString('pt-BR') %>
          </p>
          <!-- botão de excluir -->
          <button class="btn-delete">🗑</button>
          </div>

          <% }) %>
        </div>
        </div>
        <section class="weekly-calendar">
          <div class="calendar-header">
            <h2>Calendário Semanal</h2>
            <span id="weekRange"></span>
          </div>

          <div class="calendar-grid" id="calendarGrid"></div>
        </section>
      </section>
      <aside class="pomodoro-card">
        <h2>Timer Rápido</h2>

        <div class="timer-circle">25:00</div>

        <button class="play-btn">Iniciar</button>

        <button class="reset-btn">Reiniciar</button>
      </aside>
    </main>
    <div class="modal-overlay" id="modalOverlay">
      <div class="modal">
        <div class="modal-header">
          <h2>Adicionar Nova Atividade</h2>
          <button id="closeModal">✕</button>
        </div>

        <form id="activityForm" action="/tarefas/criar" method="POST">
          <label>Título</label>
          <input type="text" id="nome" name="nome" required />

          <label>Descrição</label>
          <textarea name="descricao"></textarea>

          <label>Data</label>
          <input type="date" name="data_vencimento" required />

          <label>Urgência</label>

          <select name="prioridade">
            <option value="baixa">Baixa</option>
            <option value="media">Média</option>
            <option value="alta">Alta</option>
          </select>

          <div class="modal-buttons">
            <button type="button" class="cancel-btn" id="cancelModal">
              Cancelar
            </button>

            <button type="submit" class="save-btn">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      window.atividades = <%- JSON.stringify(atividades || []) %>;
    </script>

    <script src="../js/pagina-inicial.js"></script>
  </body>
</html>
